/*Rerira a decoração de texto dos links*/
.link {
    text-decoration: none;
    color: black;
}

/**/
.button {
    border: 3px solid #ffffff;
    padding: 10px;
    margin: 10px;
    background: #7e7e7e;
    border-radius: 10px;
}

